<html>
    <head>
		<link rel="stylesheet" href="../static/style.css"  type="text/css">
		<link rel="stylesheet" href="../static/fontawesome/css/all.css">
		<link rel="stylesheet" href="../static/weather-icons/css/weather-icons.min.css">
		<script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='cekhand.js') }}" type="text/javascript"></script>
		<style>
			.commandIconBox{
				color: #455a64;
			}
		</style>
	</head>
	<body>
		<canvas id="canvas" class="canvas"></canvas>
		<div id=main>
			<div id="homeDiv">
				<div>
					<div>
						<h1 class="homeTitle">IC4U : Intelligent Companion For You</h1>
						<div class="homeContent">
							<div>
								<a href="./listvideo" class="youtube">
									<i class="fab fa-youtube"></i>
								</a>
								<a href="./facebook" class="facebook">
									<i class="fab fa-facebook"></i>
								</a>
								<a href="./phone" class="phone">
									<i class="fas fa-phone"></i>
								</a>
							</div>					
							<div>
								<a href="./weather" class="weather">
									<i class="wi wi-day-cloudy-gusts"></i>
								</a>
								<a href="./#line" class="line">
									<i class="fab fa-line"></i>
								</a>
								<a href="./tourism" class="tourism">
									<i class="fas fa-map-marked-alt"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id=action class="skewleft box">
				<div id="inputcommand">
					Voice/Gesture
				</div>
			</div>
			<div id=nextState class="skewright box boxs">
				<div class="nextstateBox" align="center">
					<div class="nextstate1"><img src="../static/gest15.gif" class="gestureIcon"></div>
					<div class="nextstate1">Left</div>
				</div>
				<div class="nextstateBox" align="center">
					<div class="nextstate1"><img src="../static/gest16.gif" class="gestureIcon"></div>
					<div class="nextstate1">Right</div>
				</div>
				<div class="nextstateBox" align="center">
					<div class="nextstate1"><img src="../static/gest12.gif" class="gestureIcon"></div>
					<div class="nextstate1">Up</div>
				</div>
				<div class="nextstateBox" align="center">
					<div class="nextstate1"><img src="../static/gest13.gif" class="gestureIcon"></div>
					<div class="nextstate1">Down</div>
				</div>
				<div class="nextstateBox" align="center">
					<div class="nextstate1"><img src="../static/gest8.gif" class="gestureIcon"></div>
					<div class="nextstate1">Click</div>
				</div>
			</div>
			<div id=gestBox class="boxs gestBox">
				<div id=handin class="gestBox1">
					<img id=handBox src="../static/Pict/gestureIcon.png" class="gestureIcon">
				</div>
			</div>
			<div id=command class="commandIconBox">
				<div id="iconText" class="commandIconBox" align="center"><img class="commandIcon" src="../static/Pict/textOn.png"/><br/>Gesture On</div>
				<div id="iconVoice" class="commandIconBox" align="center"><img class="commandIcon" src="../static/Pict/voiceOff.png"/><br/>Voice Off</div>
			</div>
		</div>
		<script src="../static/background.js" type="text/javascript"></script>
		<script src="../static/home.js" type="text/javascript"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		<script type="text/javascript">
			namespace = '/test';
			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
						// Event handler for new connections.
						// The callback function is invoked when a connection with the
						// server is established.
						socket.on('connect', function() {
							socket.emit('my_event', {data: 'I\'m connected!'});
						});
						// Event handler for server sent data.
						// The callback function is invoked whenever the server emits data
						// to the client. The data is then displayed in the "Received"
						// section of the page.
						socket.on('my_response', function(msg) {
						//alert(msg.count);
							if(msg.count=="ok"){
								$(".gestBox1").css({top:0});
										$(".gestBox1").css({right:0});
										$("#handin").css({position:"absolute"});
										$(".gestBox1").html('<img id=handBox src="../static/Pict/gestureOn.png" class="gestureIcon">');
										gestonoff(msg.count);
								}else{
										$(".gestBox1").css({top:0});
										$(".gestBox1").css({right:0});
										//$("#handin").removeClass("handin");
										$(".gestBox1").html('<img id=handBox src="../static/Pict/gestureOff.png" class="gestureIcon">');
										//alert("gesture:"+data);
									 gestonoff(msg.count);
							}
							//$('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
						});

						
			function gesture(){
				//reloadId = setTimeout(reload(), 4000);
				start_time = new Date().getTime();
				//cekHand();
				$.ajax({
					type : 'POST',
					url : "/gesture",
					contentType: 'application/json;charset=UTF-8',
					data:state="1",
					success: function(data) {
						//clearTimeout(reloadId);
						//alert(data);
						if(data== ("12")){
							homeButtonSelection("up");
							gesture();
						}else if(data== ("13")){
							homeButtonSelection("down");
							gesture();
						}else if(data== ("14")){
							homeButtonSelection("right");
							gesture();
						}else if(data== ("15")){
							homeButtonSelection("left");
							gesture();
						}else if(data== ("7") || data== ("8")){
							homeButtonClicked();
							setTimeout(function(){gesture();}, 5000);
						}else{
							$("#inputcommand").html("Please try again ...");
							//alert("gesture:"+data);
							gesture();
						}
						$(".gestBox1").css({top:0});
						 $(".gestBox1").css({right:0});
						 //$("#handin").removeClass("handin");
						 $(".gestBox1").html('<img id=handBox src="../static/Pict/gestureOff.png" class="gestureIcon">');
						 //alert("gesture:"+data);
						//gesture();
						//reload();
					},
					error: function(data) { 
						//alert("Status: " + textStatus); alert("Error: " + errorThrown); 
						$("#inputcommand").html("Please try again ...");
						$(".gestBox1").css({top:0});
						$(".gestBox1").css({right:0});
						//$("#handin").removeClass("handin");
						$(".gestBox1").html('<img id=handBox src="../static/Pict/gestureOff.png" class="gestureIcon">');
						//alert("gesture:"+data);
						//reload();
						gesture();
					}  
					
				});
			}
		
			$(document).ready(function(){
				//cekHand();
				//youtubeApiCall("avenger");
				statsearch=0;
				//voice();
				gesture();
			});
		</script>
    </body>
</html>